main {
  flex: 1;
  height: 100%;
  min-height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 1fr 5fr;
  // background: $main-bg-blue;

  h2 {
    font-size: 1.8rem;
    padding: .4em;
  }
}

#content {
  @include flex-col;
}

#content_title {
  background: $main-blue;
  color: white;
}

#content_body {
  @include full-size;
  max-width: 800px; 
  padding: 1em;
  margin: 0 auto;

  h3 {
    margin-bottom: 0.88em;
  }

  & > section + section {
    margin-top: 1em;
  }
}

.section-content {
  p {
    text-indent: 1em;
  }
}

.iframe-container {
  @include grid-center;

  iframe {
    height: clamp(200px, 300px, 400px);
    width: clamp(50%, 600px, 100%);
  }
}