@media only screen and (orientation: portrait) {
  footer {
    @include flex-col;
  }
}

@media only screen and (max-width: 700px) {
  header h1 {
    font-size: 1.5rem;
  }
  
  #content_title h2 {
    font-size: 1.1rem !important;
  }
  
  #category-cards {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 520px) {
  main {
    @include flex-col;
  }
  
  #sidebar ul {
    flex-direction: row !important;
    // flex-wrap: wrap;

    > li {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 350px) {
  #sidebar li > a {
    font-size: 0.95em !important;
  }
}