@import "utils";

#categories {
  @include grid-center;
  @include full-size;
}

#category-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  
  .card {
    @include flex-col;
    flex: 1 1 0px;
    text-decoration: none;
    background: $main-orange;
    color: white;
    border-radius: 5px;
    padding: 0.5em;
    transition: 200ms;
  
    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(2px 2px 10px rgb(150,150,150));
    }
  
    h3 {
      padding: 0.2em;
      margin-bottom: 0.4em;
      background: lighten($main-orange, 22%);
      text-transform: uppercase;
    }
  
  }
}
