@import "config";
@import "utils";

html, body {
  min-height: 100vh;
}

body {
  @extend %main-font;
  @include flex-col;
}

.page {
  @include full-size;
}

.quote {
  font-style: italic;
  display: inline;
}

@import "header";
@import "main";
@import "sidebar";
@import "footer";
@import "media";