{% extends "main/__base.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.min.css' %}">
{% endblock %}

{% block content_title %}Bienvenue sur le site des cours adultes&nbsp;!{% endblock %}

{% block content %}
  <div id="my-picture">
    <img src="{% static 'img/home/me.jpeg' %}" alt="Melvin DOUCET" />
  </div>

  <p>Je m'appelle Melvin DOUCET, j'ai {{ age }} ans et je vis à Yutz en Moselle. Actuellement classé {{ std_rating }} en partie longue, j'enseigne les échecs depuis 2019 au club de Thionville aux joueurs classés entre 1200 et 1400 Elo.</p>

{% endblock %}