{% extends "main/__base.html" %}

{% block content_body %}
  <section id="intro">
    <h3>Introduction</h3>

    <div class="section-content">
      <p>Le <strong>début de Londres</strong> est ce qu'on appelle un <strong>système</strong> d'ouverture&nbsp;: l'idée est de pouvoir toujours jouer plus ou moins les mêmes coups ou tout du moins placer ses pièces de la même façon sans vraiment tenir de compte de ce que fait l'adversaire.</p>
      <p>L'objectif principal du début de Londres est développer le <strong>mauvais fou en dehors de la chaine de pions</strong>. Pour mieux comprendre, nous allons d'abord examiner une ouverture similaire&nbsp;: le système Colle.</p>
    </div>
  </section>

  <section id="colle-system">
    <h3>Système Colle</h3>
    
    <div class="section-content">
      <div class="iframe-container">
        <iframe
          src="https://lichess.org/study/embed/qArhSwQh/LfSuqZPO"
          frameborder=0
        ></iframe>
      </div>
      <p>Dans cette ouverture, les blancs visent à obtenir une position très solide, &mdash;&nbsp;quoique passive, &mdash;&nbsp;où leur fou de case sombre se retrouve enfermé à l'intérieur de la chaine de pions.</p>
    </div>
  </section>

{% endblock %}